# Eclipse
.project
.classpath
.settings/

# Compiled files
bin/
out/

# Logs
*.log

# Environment variables
.env

# Build
build/

# Arquivos gerados
GerenciadorPoupanca.jar
META-INF/
org/
sqlite-jdbc.properties